body {
  background-color: #1f5e43;
}


#list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: auto;
}

#list-container ul {
  text-transform: uppercase;
  padding: 0;
  list-style: none;
  display: flex;
}

#list-container ul li {
  padding: 5px;
  font-size: 24px;
  background-color: #61dafb;
  color: black;
  margin-bottom: 2px;
  overflow: auto;
  height: fit-content;
}

#list-container input {
  width: 100%;
  height: 35px;
  border-radius: 10px;
  padding: 0px 10px;
}